@font-face {
    font-family: 'Inter';
    src: url(../../../public/fonts/inter/Inter-VariableFont_slnt\,wght.ttf);
}

.film {
    width: 450px;
    height: 280px;
    box-shadow: 0px 4px 12px 0px #00000026;
    display: flex;
}

.film__spin {
    margin: auto;
}

.film__image {
    width: 190px;
    flex-shrink: 0;
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.film__blank {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 22px;
    color: #827E7E;
}

.info {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    gap: 7px 0;
}

.info__heading {
    font-family: 'Inter';
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    margin: 0;
}

.info__date {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}

.info__genres {
    display: flex;
    gap: 0 8px;
}

.info__genre {
    background-color: #FAFAFA;
    border: solid 1px #D9D9D9;
    border-radius: 2px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #000000A6;
}

.info__description {
    font-family: 'Inter';
    font-size: 12px;
    line-height: 22px;
}

.film__nofilm {
    margin: auto;
    font-family: 'Inter';
    font-size: 50px;
    color: #827E7E;
}