html {
  box-sizing: border-box;
  background-color: #f7f7f7;
  overflow-y: scroll;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.app {
  width: 1010px;
  align-items: center;
  background-color: #ffffff;
  margin: 0 auto;
}

.ant-tabs-nav-operations {
  display: none !important;
}

@media screen and (max-width: 1010px) {
  .app {
    width: 100vw;
  }
}
