.filmList {
  width: 1010px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-color: #ffffff;
  gap: 32px;
  justify-content: center;
  align-content: center;
  padding: 32px 0;
  position: relative;
}

.errorMessage {
  position: absolute;
}

@media screen and (max-width: 1010px) {
  .filmList {
    width: calc(100vw - 32px);
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center
  }
}