.filmList {
    width: 1010px;
    min-height: 592px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: #FFFFFF;
    gap: 32px;
    justify-content: center;
    align-content: start;
    padding: 32px 0;
    position: relative;
}

.errorMessage {
    position: absolute;
}

 